* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #343f45;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height */
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition */
    height: 100%;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Cover the entire area */
}

.prev, .next, .fullscreen {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
    z-index: 1000; /* Ensure arrows are on top */
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fullscreen {
    bottom: 20px; /* Position the fullscreen button */
    top: 90%;
    left: 97%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.prev:hover, .next:hover, .fullscreen:hover {
    background-color: rgba(0, 0, 0, 0.5);
}